/*
  dark: #0f0f0f
  dark green: #006b54
  light green: #b1d813
  white: #f0f0f0
*/


#top_banner_wrapper {

}

#logo {
    width: 150px;
    position: absolute;
    left: 20px;
    top: 20px;
}

#top_banner_row {
    background-image: url("../images/top_banner.png");
    background-size: cover;
    background-position: -900px;
    height: 130px;
    overflow: hidden;
}

@media (min-width: 992px) and (max-width: 1200px) {
    #top_banner_row {
        background-position: -700px;
    }
}

@media (min-width: 1200px) {
    #top_banner_row {
        background-position: -400px;
    }
}

#top_banner_col {

}

#top_banner {
    height: 130px;
}

#outer_container {
  max-width: 940px;
}

#page_title {
    width: 100%;
    margin: 15px 0 15px 5px;

}

.header_side_title {
    color: #0f0f0f;
    font-family: "Arial", Arial, sans-serif;
    font-size: 13px;
    text-align: center;
    margin: 15px auto 0 auto;
}

.header_side_content {
    color: #006b54;
    font-family: "Arial", Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.meter_icon {
    margin: 15px auto 8px auto;
    text-align: center;
}

.meter_icon img {
    display: inline;
}

#meter_icon {
    height: 85px;
    margin-top: 35px;
}

#plug_icon {
    height: 120px;
    margin-top: 0;
}

#co2_cloud_icon {
    height: 100px;
    margin-top: 0;
}

#barrel_icon {
    height: 94px;
    margin-top: 6px;
}

.meter_label {
    color: #006b54;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.odometer_container {
    overflow: hidden;
    text-align: center;
}

.odometer {
    display: inline-block;
    overflow: hidden;
}

.odometer_digit_square {
    overflow: hidden;
    float: left;
    display: table;
    width: 30px;
    height: 30px;
    background: #333;
    margin: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.odometer_digit_square span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-family: "Arial", Arial, sans-serif;
    font-size: 22px;
    color: #f0f0f0;
}

.odometer_comma_square {
    overflow: hidden;
    float: left;
    display: table;
    width: 4px;
    height: 30px;
    margin: 0px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.odometer_comma_square span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-family: "Arial", Arial, sans-serif;
    font-size: 22px;
    color: #0f0f0f;
}

.bus_location_icon_div {
    text-align: center;
}

.bus_location_icon_div img {
    height: 80px;
    display: inline;
    margin: 40px auto;
}

#bus_location_row {
    margin-top: 75px;
    margin-bottom: 25px;
}

.en_route_text {
    color: #006b54;
    font-family: "Arial", Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.real_time_disp_text {
    color: #0f0f0f;
    font-family: "Arial", Arial, sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
}

.real_time_disp_text a {
    color: #006b54;
    text-decoration: underline;
}

.social_media_icon_col {
    height: 100px;
}

#social_media_icon_group {
    margin: 60px auto 0 auto;
    text-align: center;
}

#social_media_icon_group img {
    display: inline;
    height: 30px;
    margin-left: 10px;
}

#bottom_banner {
    background: #006b54;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

#green_power_text {
    color: #b1d813;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    max-width: 1100px;
}

#green_power_text a {
    color: #d1f833;
    text-decoration: underline;
}

#disclaimer_text {
    color: #b1d813;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    margin: 20px auto 0px auto;
    max-width: 1100px;
}

#copyright {
    color: #f0f0f0;
    font-family: "Arial", Arial, sans-serif;
    font-size: 22px;
    text-align: center;
    padding-top: 15px;
}


/* Sticky footer styles
-------------------------------------------------- */

/**
 * 1. Avoid the IE 10-11 `min-height` bug.
 * 2. Set `flex-shrink` to `0` to prevent some browsers from
 *    letting these items shrink to smaller than their content's default
 *    minimum size. See http://bit.ly/1Mn35US for details.
 * 3. Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
 */


/*.Site {*/
   /*display: flex;*/
   /*flex-direction: column;*/
   /*height: 100%; !* 1, 3 *!*/
 /*}*/


 /*.Site-header,*/
 /*.Site-footer {*/
   /*flex: none; !* 2 *!*/
 /*}*/


 /*.Site-content {*/
   /*flex: 1 0 auto; !* 2 *!*/
   /*padding: var(--space) var(--space) 0;*/
   /*width: 100%;*/
 /*}*/
 /*.Site-content::after {*/
   /*content: '\00a0'; !* &nbsp; *!*/
   /*display: block;*/
   /*margin-top: var(--space);*/
   /*height: 0px;*/
   /*visibility: hidden;*/
 /*}*/

 /*.Site-content--full {*/
   /*padding: 0;*/
 /*}*/
 /*.Site-content--full::after {*/
   /*content: none;*/
 /*}*/



