{% autoescape false %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>King CCounty Metro Electric Buses</title>

        <meta name="description" content="King County Metro Electric Buses">
        <meta name="author" content="Promenade Software, Inc.">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicons and app icons-->
        <link rel="apple-touch-icon" sizes="57x57" href="/static/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/static/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/favicons/apple-touch-icon-152x152.png">
        <link rel="icon" type="image/png" href="/static/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/static/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/static/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/static/favicons/manifest.json">
        <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="msapplication-TileImage" content="/static/favicons/mstile-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" href="/static/css/styles.css">
        <link rel="stylesheet" href="/static/css/bootstrap.css">
    </head>

    <body class="Site">

    <main class="Site-content">

    <div class="container-fluid" id="top_banner_wrapper">
        <div class="row" id="top_banner_row">
            <div class="col-xs-12 col-lg-offset-2" id="top_banner_col">
                <a href="http://metro.kingcounty.gov/">
                    <img id="logo" src="/static/images/KClogo_METRO_no_tag-whtbckgrd.png">
                </a>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="outer_container">

        <div class="row">
            <div class="col-sm-7">
                <img alt="Electric Bus Fleet Live Data" src="/static/images/page_title.png" id="page_title">
            </div>
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-xs-2 col-xs-offset-1">
                        <div class="header_side_title">Fleet<br>Size</div>
                        <div class="header_side_content">3</div>
                    </div>
                    <div class="col-xs-4">
                        <div class="header_side_title">Live Data<br>Since</div>
                        <div class="header_side_content">02/15/2016</div>
                    </div>
                    <div class="col-xs-4">
                        <div class="header_side_title">Last<br>Updated</div>
                        <div class="header_side_content">{{ last_updated }}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <div class="meter_icon"><img src="/static/images/meter_icon.png" id="meter_icon"></div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="odometer_container">
                            <div class="odometer">
                            {% for digit in total_miles_digits %}
                                {% if digit == "," %}
                                <div class="odometer_comma_square"><span>,</span></div>
                                {% else %}
                                <div class="odometer_digit_square"><span>{{ digit }}</span></div>
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="meter_label">Fleet Miles Driven to Date</div>
            </div>
            <div class="col-sm-5">
                <div class="meter_icon"><img src="/static/images/plug_icon.png" id="plug_icon"></div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="odometer_container">
                            <div class="odometer">
                            {% for digit in total_kwh_digits %}
                                {% if digit == "," %}
                                <div class="odometer_comma_square"><span>,</span></div>
                                {% else %}
                                <div class="odometer_digit_square"><span>{{ digit }}</span></div>
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="meter_label">Fleet Electricity Consumed to Date (kWh)</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <div class="meter_icon"><img src="/static/images/co2_cloud_icon.png" id="co2_cloud_icon"></div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="odometer_container">
                            <div class="odometer">
                            {% for digit in co2e_reduced_digits %}
                                {% if digit == "," %}
                                <div class="odometer_comma_square"><span>,</span></div>
                                {% else %}
                                <div class="odometer_digit_square"><span>{{ digit }}</span></div>
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="meter_label">Pounds of CO2 Tailpipe Emissions<br>Saved To Date</div>
            </div>
            <div class="col-sm-5">
                <div class="meter_icon"><img src="/static/images/barrel_icon.png" id="barrel_icon"></div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="odometer_container">
                            <div class="odometer">
                            {% for digit in diesel_gals_saved_digits %}
                                {% if digit == "," %}
                                <div class="odometer_comma_square"><span>,</span></div>
                                {% else %}
                                <div class="odometer_digit_square"><span>{{ digit }}</span></div>
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="meter_label">Diesel Gallons<br>Saved To Date</div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div id='chart_bus_mpge_div'></div>
            </div>
        </div>

        <div class="row" id="bus_location_row">
            <div class="col-sm-2 bus_location_icon_div">
                <img alt="Bus icon" src="/static/images/bus_icon.png">
            </div>
            <div class="col-sm-8">
                <div class="en_route_text">Want to see where the battery-electric buses are en route?</div>
                <div class="real_time_disp_text">Go to Metro's
                    <a href="http://tripplanner.kingcounty.gov/hiwire?.a=iRealTimeDisplay">Real Time Display</a>
                    and click all the boxes for routes 226 and 241. Look for Vehicle #'s 4601, 4602, and 4603.
                </div>
                <div class="en_route_text">Want to see how the buses charge up in 10 minutes or less using the overhead charging
station at Eastgate Park & Ride in Bellevue?</div>
                <div class="real_time_disp_text">Go to
                    <a href="https://youtu.be/b1YW1LV6S_w?t=30s">How Does It Charge? video.</a>
                </div>
            </div>
            <div class="col-sm-2 social_media_icon_col">
                <div id="social_media_icon_group">
                    <a href="https://www.facebook.com/kcmetro"><img src="/static/images/facebook_alt.png"></a>
                    <a href="https://twitter.com/kcmetrobus"><img src="/static/images/twitter_alt.png"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12" id="bottom_banner">
                <div id="green_power_text">
                    King County Metro’s electric fleet is comprised of three,
                    <a href="http://www.proterra.com/product-tech/product-portfolio/"> 40-foot Proterra
                    Catalyst® battery-electric buses</a> with fast-charging batteries.<br>
                    King County Metro plans to power the three battery-electric buses
                    with 100% renewable electricity generated from a landfill in
                    Goshen, Oregon.  The purchase of this electricity is pending
                    approval by the King County Council, which should happen sometime
                    later this spring.
                </div>
                <div id="disclaimer_text">
                    Electricity Consumed based on DC charging and updated every 15 minutes. Fleet Miles
                    updated once a day. Diesel Gallons Saved based on 6.3 MPG, which is the King County
                    Metro average for the 40’ diesel-hybrid bus fleet. Pounds of CO2 Tailpipe Emissions Saved
                    based on 22.4 lbs CO2 per DG x Diesel Gallons Saved.
                </div>
                <div id="copyright">&copy King County 2016</div>
            </div>
        </div>
    </div>

    </main>


    <div hidden="hidden" id="mpge_chart_data">{{ mpge_chart_data }}</div>

    <script src="/static/js/jquery-1.12.0.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/zingchart/zingchart.min.js"></script>
    <script src="/static/js/bus_mpge_chart.js"></script>

    </body>

</html>
{% endautoescape %}
